h3 {
    text-align: center;
    color: slateblue;
    font-style: italic;
}
h4 {
    text-align: left;
    color: darkblue;
}
a {
    text-align: center;
    color: darkcyan;
    font-style: normal;
}
h2{
    font-size: large;
}